In [2]:
import pandas as pd
df=pd.read_csv('sales3Aug24 (1).csv')#import the file as csv

In [3]:
df.head()#checking the first five rows in the data

,OrderedAtDate,OrderNoinsert into,CustomerName,Producer,Product,CategoryGroup,Category,Variant,Quantity,Unit Price,shippingStatus,DeliveryAgent,DeliveryDate,CustomerType,OrderChannel
0,12/1/20 17:37,STU-2143266178,Rodam Enterprises,Hayat Kimya Nigeria Limited,Molfix Twin,Baby,Infant Care,Molfix Twin Midi(4-9 Kg) x 36 x 4,2.0,"7,000.00",delivered,Maryjane Joel,12/2/20 12:01,General Trade,Mobile App
1,12/1/20 17:37,STU-2143266178,Rodam Enterprises,Hayat Kimya Nigeria Limited,Molfix Twin,Baby,Infant Care,"Molfix Twin Mini(3-6 kg) by 40, pack of 4",1.0,"7,000.00",delivered,Maryjane Joel,12/2/20 12:01,General Trade,Mobile App
2,12/1/20 17:37,STU-2143266178,Rodam Enterprises,Hayat Kimya Nigeria Limited,Molfix Twin,Baby,Infant Care,"Molfix Twin Maxi(7-18 kg) by 32, pack of 4",1.0,"7,000.00",delivered,Maryjane Joel,12/2/20 12:01,General Trade,Mobile App
3,12/1/20 16:20,STU-2143266042,O And K Super Store,Hayat Kimya Nigeria Limited,Molfix Twin,Baby,Infant Care,Molfix Twin Midi(4-9 Kg) x 36 x 4,1.0,"7,000.00",delivered,Ralia Okwuchukwu,12/2/20 12:08,General Trade,Whatsapp
4,12/1/20 16:20,STU-2143266042,O And K Super Store,Hayat Kimya Nigeria Limited,Molfix Twin,Baby,Infant Care,"Molfix Twin Maxi(7-18 kg) by 32, pack of 4",1.0,"7,000.00",delivered,Ralia Okwuchukwu,12/2/20 12:08,General Trade,Whatsapp

In [4]:
df.info()#checking the column information/data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2046 entries, 0 to 2045
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OrderedAtDate        2046 non-null   object
 1   OrderNoinsert into   2046 non-null   object
 2   CustomerName         2046 non-null   object
 3   Producer             2046 non-null   object
 4   Product              2046 non-null   object
 5   CategoryGroup        2046 non-null   object
 6   Category             2046 non-null   object
 7   Variant              2046 non-null   object
 8   Quantity             2046 non-null   float64
 9   Unit Price           2046 non-null   object
 10  shippingStatus       2046 non-null   object
 11  DeliveryAgent        1914 non-null   object
 12  DeliveryDate         1790 non-null   object
 13  CustomerType         2046 non-null   object
 14  OrderChannel         2046 non-null   object
dtypes: float64(1), object(14)
memory usage: 239.9+ KB

In [5]:
df.columns#listing the columns

Index(['OrderedAtDate ', 'OrderNoinsert into ', 'CustomerName', 'Producer',
       'Product', 'CategoryGroup', 'Category', 'Variant', 'Quantity',
       'Unit Price', 'shippingStatus', 'DeliveryAgent', 'DeliveryDate',
       'CustomerType', 'OrderChannel'],
      dtype='object')

In [ ]:
##assigning the df to a newdf with the required columns

In [6]:
newdf = df[['OrderedAtDate ','CategoryGroup','Product','Category','Quantity','Unit Price','shippingStatus','DeliveryDate', 'CustomerType','OrderChannel']]

In [7]:
newdf.head()

,OrderedAtDate,CategoryGroup,Product,Category,Quantity,Unit Price,shippingStatus,DeliveryDate,CustomerType,OrderChannel
0,12/1/20 17:37,Baby,Molfix Twin,Infant Care,2.0,"7,000.00",delivered,12/2/20 12:01,General Trade,Mobile App
1,12/1/20 17:37,Baby,Molfix Twin,Infant Care,1.0,"7,000.00",delivered,12/2/20 12:01,General Trade,Mobile App
2,12/1/20 17:37,Baby,Molfix Twin,Infant Care,1.0,"7,000.00",delivered,12/2/20 12:01,General Trade,Mobile App
3,12/1/20 16:20,Baby,Molfix Twin,Infant Care,1.0,"7,000.00",delivered,12/2/20 12:08,General Trade,Whatsapp
4,12/1/20 16:20,Baby,Molfix Twin,Infant Care,1.0,"7,000.00",delivered,12/2/20 12:08,General Trade,Whatsapp

In [19]:
newdf['Unit Price'] = newdf['Unit Price'].str.replace(',','').astype(float)#replacing and coverting unit price to float for caculation

C:\Users\Dell\AppData\Local\Temp\ipykernel_12156\1260431121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['Unit Price'] = newdf['Unit Price'].str.replace(',','').astype(float)

In [21]:
newdf['Sales'] = newdf['Unit Price'] * newdf['Quantity']#creating a new column sales by multiplyinng untit price * Quantity

C:\Users\Dell\AppData\Local\Temp\ipykernel_12156\1242364675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['Sales'] = newdf['Unit Price'] * newdf['Quantity']

In [24]:
newdf['DeliveryDate'] = newdf['DeliveryDate'].astype(str).replace('nan', 'Not specified')#replacing nan values on DeliveryDate

C:\Users\Dell\AppData\Local\Temp\ipykernel_12156\799444732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['DeliveryDate'] = newdf['DeliveryDate'].astype(str).replace('nan', 'Not specified')

In [27]:
newdf.head()

,OrderedAtDate,CategoryGroup,Product,Category,Quantity,Unit Price,shippingStatus,DeliveryDate,CustomerType,OrderChannel,Sales
0,12/1/20 17:37,Baby,Molfix Twin,Infant Care,2.0,7000.0,delivered,12/2/20 12:01,General Trade,Mobile App,14000.0
1,12/1/20 17:37,Baby,Molfix Twin,Infant Care,1.0,7000.0,delivered,12/2/20 12:01,General Trade,Mobile App,7000.0
2,12/1/20 17:37,Baby,Molfix Twin,Infant Care,1.0,7000.0,delivered,12/2/20 12:01,General Trade,Mobile App,7000.0
3,12/1/20 16:20,Baby,Molfix Twin,Infant Care,1.0,7000.0,delivered,12/2/20 12:08,General Trade,Whatsapp,7000.0
4,12/1/20 16:20,Baby,Molfix Twin,Infant Care,1.0,7000.0,delivered,12/2/20 12:08,General Trade,Whatsapp,7000.0

In [28]:
newdf['CategoryGroup'].value_counts()#exploring the details in the column categoryGroup

CategoryGroup
Breakfast & Snacks        1044
Home Care                  500
Food                       310
Baby                       135
Beauty & Personal Care      57
Name: count, dtype: int64

In [29]:
 newdf['Product'].value_counts()#exploring the details in the column product

Product
Nestle Milo                     186
Good Mama Cleaning Detergent    153
Dano Cool Cow                   139
Peak Milk                       115
Nestle Golden Morn              100
                               ...
NAN Infant Formula                2
Eva Bar Soap                      1
Nescafe                           1
Nestle Cerelac                    1
Oral B Toothpaste                 1
Name: count, Length: 62, dtype: int64

In [30]:
newdf['OrderChannel'].value_counts()#exploring the details in the column OrderChannel

OrderChannel
Whatsapp      1401
Mobile App     606
Web App         33
USSD             6
Name: count, dtype: int64

In [31]:
newdf['shippingStatus'].value_counts()#exploring the details in the column shippingStatus

shippingStatus
delivered    1790
cancelled     256
Name: count, dtype: int64

In [32]:
newdf['OrderChannel'].value_counts()#exploring the details in the column OrderChannel

OrderChannel
Whatsapp      1401
Mobile App     606
Web App         33
USSD             6
Name: count, dtype: int64

In [33]:
newdf['CustomerType'].value_counts()#exploring the details in the column customerType

CustomerType
General Trade    1660
Wholesale         307
Modern Trade       79
Name: count, dtype: int64

In [35]:
 newdf.isna().sum()#checking the data for nan values

OrderedAtDate     0
CategoryGroup     0
Product           0
Category          0
Quantity          0
Unit Price        0
shippingStatus    0
DeliveryDate      0
CustomerType      0
OrderChannel      0
Sales             0
dtype: int64

In [37]:
newdf.to_csv('CleanedNewsalesdata.csv', index=False)

In [39]:
newdf['OrderedAtDate '].value_counts()

OrderedAtDate
12/4/20 17:28     65
12/16/20 16:23    22
12/14/20 15:29    19
12/4/20 11:31     18
12/6/20 18:53     15
                  ..
12/18/20 11:12     1
12/14/20 19:08     1
12/5/20 14:21      1
12/4/20 17:41      1
12/4/20 9:45       1
Name: count, Length: 610, dtype: int64